<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= room.name %> </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styletest.css">
</head>

<body>
    <div class="blurr hidden" onclick="showForm()"></div>
    <div class="blurr2 hidden" onclick="showInfo()"></div>
    <article class="headerflex">
        <div>
            <h1><%= room.name %> </h1>
        </div>
        <span onclick="showInfo()" class="question">?</span>
    </article>
    <section id="roomGrid">
        <% plants.forEach(plant => { %>
        <a href="/plant/<%= plant._id %> ">
            <div class="plantCard">
                <img src=<%= plant.picture %> alt="">
                <p><%= plant.name %> </p>
            </div>
        </a>
        <% }) %>
    </section>
    <button class="buttonRoom">
        <img src="/icons8-pluss.svg" onclick="showForm()" alt="" />
    </button>
    <section id="info" class="hidden">
        <div class="formFlex">
            <h1>Info</h1>
            <h6 onclick="showInfo()">x</h6>
        </div>
        <p>This screen shows all plants in this room. Click on them to get a more detailed view plus edit/delete
            options.</p>
        <br>
        <p>If this is still empty or you got a new plant that needs watering, click the plus sign to add a new plant.
        </p>
        <br>
        <p>p.s.: Don't forget to add your watering schedule by selecting the corresponding circles in the Add-Menu.
            Don't worry, you can edit it later</p>
    </section>
    <section id="new" class="hidden">
        <form action="/newPlant/<%= room._id %>" method="POST" enctype="multipart/form-data">
            <div class="formFlex">
                <h1>Add Plant</h1>
                <h6 onclick="showForm()">x</h6>
            </div>
            <input type="text" name="name" id="name" placeholder="Plant name">
            <select id="species" name="species">
                <option value="species">Species</option>
                <option value="roomplant">Roomplant</option>
                <option value="bamboo">Bamboo</option>
                <option value="perennials">Perennials</option>
                <option value="shrubs">Shrubs</option>
                <option value="hedges">Hedges</option>
                <option value="other">Other</option>
            </select>
            <label for="">Picture upload type</label>
            <br>
            <a class="uploadButton selectedButton" onclick="showURL()" href="#">URL</a>
            <a class="uploadButton" onclick="showFile()" href="#">File</a>
            <a class="uploadButton" onclick="showCamera()" href="#">Camera</a>
            <input type="text" name="pictureUrl" id="pictureUrl" placeholder="URL">
            <input type="file" name="pictureFile" id="pictureFile" class="hide">
            <label for="pictureCameraHidden" class="cameraButton hide" id="pictureCamera">Open Camera</label>
            <input type="file" accept="image/*" capture="camera" id="pictureCameraHidden" name="pictureCamera"/>
            <p>Watering Schedule</p>
            <div class="weekDays-selector">
                <input type="checkbox" name="schedule" id="weekday-mon" value="Montag">
                <label for="weekday-mon">M</label>
                <input type="checkbox" name="schedule" id="weekday-tue" value="Dienstag">
                <label for="weekday-tue">T</label>
                <input type="checkbox" name="schedule" id="weekday-wed" value="Mittwoch">
                <label for="weekday-wed">W</label>
                <input type="checkbox" name="schedule" id="weekday-thu" value="Donnerstag">
                <label for="weekday-thu">T</label>
                <input type="checkbox" name="schedule" id="weekday-fri" value="Freitag">
                <label for="weekday-fri">F</label>
                <input type="checkbox" name="schedule" id="weekday-sat" value="Samstag">
                <label for="weekday-sat">S</label>
                <input type="checkbox" name="schedule" id="weekday-sun" value="Sonntag">
                <label for="weekday-sun">S</label>
            </div>
            <input type="submit" value="Add">
        </form>
    </section>
    <div class="navigation"><%-include('./partials/navigation')%></div>

    <script>
        const blurr = document.getElementsByClassName('blurr')
        const blurr2 = document.getElementsByClassName('blurr2')
        const form = document.getElementById('new')
        const info = document.getElementById('info')
        const buttons = document.getElementsByClassName('uploadButton')
        const Url = document.getElementById('pictureUrl')
        const file = document.getElementById('pictureFile')
        const camera = document.getElementById('pictureCamera')
        function showForm() {
            form.classList.toggle("hidden")
            for (i = 0; i < blurr.length; i++) {
                blurr[i].classList.toggle("hidden")
            }
        }
        function showInfo() {
            info.classList.toggle("hidden")
            for (i = 0; i < blurr2.length; i++) {
                blurr2[i].classList.toggle("hidden")
            }
        }
        function showURL() {
            for (i=0; i<buttons.length; i++) {
                buttons[i].classList.remove('selectedButton')
            }
            buttons[0].classList.add('selectedButton')
            Url.classList.remove('hide')
            file.classList.add('hide')
            camera.classList.add('hide')
        }
        function showFile() {
            for (i=0; i<buttons.length; i++) {
                buttons[i].classList.remove('selectedButton')
            }
            buttons[1].classList.add('selectedButton')
            Url.classList.add('hide')
            file.classList.remove('hide')
            camera.classList.add('hide')
        }
        function showCamera() {
            for (i=0; i<buttons.length; i++) {
                buttons[i].classList.remove('selectedButton')
            }
            buttons[2].classList.add('selectedButton')
            Url.classList.add('hide')
            file.classList.add('hide')
            camera.classList.remove('hide')
        }
    </script>
</body>

</html>